fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.1
pydantic-settings==2.3.0
python-dotenv==1.0.1

# ML inference
joblib==1.4.2
scikit-learn
xgboost
pandas
numpy
pyarrow

# Meal planner (Knapsack + GA)
deap==1.4.1

# Gemini AI (food scan)
google-generativeai==0.7.0

# Misc
ujson==5.10.0
python-multipart==0.0.9
